html, body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
	display: block;
}
body{
	position: relative;
}
* {
	box-sizing: border-box;
}
#container {
	height: 100%;
	background-color: yellow;
}
#game-canvas {
	display: block;
	margin: 0 auto;
}
#game-over, #win {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 400px;
	height: 200px;
	font-size: 48px;
	color: yellow;
	z-index: 1;
	text-align: center;
	opacity: 0;
	transition: opacity 2s;
}